.wrapper {
  background: #FFFFFF;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  width: 980px;
  margin: 0 auto;

  display: flex;
  flex-direction: row;

  .category-list {
    width: 210px;

    display: flex;
    flex-direction: column;

    padding-top: 140px;
    padding-left: 50px;
    
    border-right: 1px solid #D8D8D8;

    .category-item {
      margin: 12px 0;
      font-weight: 700;
      font-size: 22px;
      color: #EA5959;

      span {
        cursor: pointer;
      }
    }
  }

  .content{
    display: flex;
    flex-direction: column;
    width: 770px;
    min-height: 100vh;
    padding: 30px 40px;

    h1 {
      margin-bottom: 25px;
      font-size: 31px;
      line-height: 37px;
    }
  }
}